:root {
  --main-color: #322e59;
  --sub-color: #232044;
  --background-color: #232044;
  --shadow-color: #1b183b;
  --font-color: #bcbacf;
}

/* common */
label {
  cursor: pointer;
}

#wrapper {
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--main-color);
  border-radius: 3.5rem;
  padding: 3rem;
  width: 25rem;
  box-shadow: -2rem -2rem var(--shadow-color);
}

/* modal header */
.modalHeader {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.modalHeader__icon--close {
  cursor: pointer;
}

/* searchBox */
.searchBox {
  margin-bottom: 2.5rem;
}
.box-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.searchBox__input {
  background-color: var(--sub-color);
  color: var(--font-color);
  font-size: 1rem;
  border-radius: 5px;
  padding: 1rem;
  padding-left: 2.5rem;
  width: 100%;
}
.searchBox__input::-webkit-input-placeholder {
  color: var(--font-color);
}
.searchBox label {
  position: relative;
}
.searchBox__icon {
  position: absolute;
  top: 0;
  left: 1rem;
}

/* view list */
.viewListBox {
  margin-bottom: 2.5rem;
}
.viewListBox__listItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5rem;
}
.viewListBox__listItem input {
  display: none;
}
.viewListBox__listItem label {
  display: flex;
  align-items: center;
}

.viewListBox__listItem label::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--sub-color);
  outline: 1px solid var(--font-color);
  background-color: var(--sub-color);
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 1rem;
}
input[type="radio"]:checked + label::before {
  background-color: var(--font-color);
}

/* include */
.includeBtnBox {
  margin-bottom: 2.5rem;
}

input[type="checkbox"] {
  display: none;
}
.includeBtnBox__checkBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.includeBtnBox__icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color);
  border-radius: 5px;
}

input[type="checkbox"]:checked + .includeBtnBox__icon {
  color: var(--main-color);
}

/* btn */
.btn {
  display: block;
  width: 100%;
  background-color: #ebb96e;
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
